html
  head
    title work timer
  body
    h1 we all stars now
    input#minutes(type='number', name='minutes', min='1', max='30')
    button#start start
    button#stop stop
    button#reset reset
    h2#timer 00:00
    audio#tick
      source(src='/sounds/tick.mp3')
  script(src='https://code.jquery.com/jquery-3.2.1.js')
  script(src='/javascripts/index.js')