html
  head
    title#title work timer
  body
    h1 we all stars now
    input#minutes(type='number', name='minutes', min='1', max='30')
    button#start start
    button#stop stop
    button#reset reset
    input#mute(type='checkbox', name='agreement', unchecked)
    label(for='mute') mute?
    h2#timer 00:00
    audio#tick
      source(src='/sounds/tick.mp3')
    audio#timesUp
      source(src='/sounds/timesup.mp3')
  script(src='https://code.jquery.com/jquery-3.2.1.js')
  script(src='/javascripts/index.js')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css', integrity='sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy', crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js', integrity='sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4', crossorigin='anonymous')