html
	head
		// Global site tag (gtag.js) - Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-116653106-1')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-116653106-1');
		script(defer src='https://use.fontawesome.com/releases/v5.0.10/js/all.js' integrity='sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+' crossorigin='anonymous')
		title#title Pomodoro Timer
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
		link(rel='stylesheet', href='/scss/styles.scss')
		link(rel='shortcut icon' href='/imgs/favicon.ico')
	body
		br
		div(class='container d-flex flex-row-reverse')
				button(type='button', class='btn btn-outline-primary', data-toggle='modal' data-target='#settingsModal', id='preferences')
					i(class='fa fa-wrench d-block d-md-none', aria-hidden='true')
					span(class='d-none d-md-block d-lg-block d-xl-block') Settings
		br
		div(class='container text-center')
			div
				h4 POMODORO TIMER
				h2(id='timer', class='display-1') 00:00
				button(id='start', class='btn btn-lg btn-primary col-md-2', type='button') start
				| &nbsp;
				button(id='stop', class='btn btn-lg btn-primary col-md-2', type='button') stop
				| &nbsp;
				button(id='reset', class='btn btn-lg btn-primary col-md-2', type='button') reset
			div(class='top-buffer')
				h4 sessions finished today: 
					span(class='badge badge-primary' id='sessionsCompleted') 0
		audio#timesUp
			source(src='/sounds/timesup.mp3')
		div(class='modal fade', id='settingsModal')
			div(class='modal-dialog')
				form
					div(class='modal-content')
						div(class='modal-header')
							h4(class='modal-title') Settings
						div(class='modal-body')
								div(class='form-group row')
									label(for='minutes', class='col-form-label col-4') minutes (1-30)
									div(class='col-4')
										input#minutes(type='number', class='form-control' name='minutes', min='1', max='30', value='25')
								div(class='form-check')
									input(id='mute', class='form-check-input', type='checkbox', checked)
									label(for='mute', class='form-check-label') mute?
								div(class='d-none d-sm-block d-md-block')
									hr
									h4 Keyboard shortcuts
									p Start / Pause = F
									p Stop          = S
									p Reset         = R
									p Preferences   = P
						div(class='modal-footer')
							button#save(type='button', class='btn btn-primary') Save
		footer(class='fixed-bottom text-center bg-dark text-light') 
			div(class='container') Created by Sawyer Burnett
				br
				a(href='http://github.com/burnett2k', target='_blank') GitHub
				br
				a(href='http://linkedin.com/in/sawyer-burnett-9176411b', target='_blank') Linkedin
	script(src='http://code.jquery.com/jquery-3.3.1.min.js'
  integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8='
  crossorigin='anonymous')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
	script(src='/javascripts/index.js')
	
