html
  head
    title work timer
  body
    h1 we all stars now
    button#start start timer
    h2#timer 00:00
  script(src='https://code.jquery.com/jquery-3.2.1.js')
  script(src='/javascripts/index.js')